{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {% for field in registration_form %}#}
{#            <p>#}
{#            {{ field.label_tag }}#}
{#            {{ field }}#}
{#            {% if field.help_text %}#}
{#                <small style="color:grey;">{{ field.help_text }}</small>#}
{#            {% endif %}#}
{#            {% for error in field.errors %}#}
{#                <p style="color:red">{{ error }}</p>#}
{#            {% endfor %}#}
{#            </p>#}
{#        {% endfor %}#}
{#        <button type="submit">Register</button>#}
{#    </form>#}
{#{% endblock %}#}

{% extends "base.html" %}
{% block content %}
    <form method="post">
        {% csrf_token %}

        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 16rem;">
                <p align="center">Djangram</p>
                {% for field in registration_form %}
                    <br>
                    <h5 class="card-title">{{ field }}</h5>
{#                    {% if field.help_text %}#}
{#                        <small style="color:grey;">{{ field.help_text }}</small>#}
{#                    {% endif %}#}
                     {% for error in field.errors%}
                        <small style="color:red;">{{ field.help_text }}</small>
                    {% endfor%}
                {% endfor %}
                <button class="btn btn-outline-primary">Register</button>
            </div>
        </div>

    </form>
{% endblock %}






{#{% extends "base.html" %}#}
{#{% block content %}#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {% for field in registration_form %}<br>#}
            {#        {{ field.label_tag }} # field name near them#}
{#            {{ field }}#}
{#        {% endfor %}#}
{#        <br>#}
{#        <br>#}
{#        <button class="btn btn-outline-primary">Register</button>#}
{##}
{#    </form>#}
{#{% endblock %}#}
{##}
{##}
{#{% extends 'base.html' %}#}
{#{% load crispy_forms_tags %}#}
{#{% load crispy_forms_filters %}#}
{#{% block title %}Sign Up{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div style="width: 450px;  margin: 0 auto; padding: 10px;">#}
{#        <h2>SignUp Form</h2>#}
{#        <form method="post">#}
{#            {% csrf_token %}#}
{#            {{ form|crispy }}#}
{#            <button type="submit" class="btn btn-primary">Sign Up</button>#}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}
{##}
{##}

{#{% extends 'base.html' %}#}
{#{% load crispy_forms_filters %}#}
{#{% load crispy_forms_tags %}#}
{#{% block title %}Sign Up{% endblock %}#}
{##}
{#{% block content %}#}
{#<div style="width: 450px;  margin: 0 auto; padding: 10px;">#}
{#<h2>SignUp Form</h2>#}
{#<form method="post" >#}
{#  {% csrf_token %}#}
{#  {{ form|crispy}}#}
{#  <button type="submit" class="btn btn-primary">Sign Up</button>#}
{#</form>#}
{#</div>#}
{#{% endblock %}#}




{#{% extends "base.html" %}#}
{#{% block content %}#}
{#    <div class="register">#}
{#        <form id="register" method="POST">#}
{#            {% csrf_token %}<br>#}
{#            {{ form.as_p }}#}
{#            <button class="btn btn-outline-primary">Register</button>#}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}