{% extends "base.html" %}

{% block title %}
    <p align="center" style="color: black; margin-top: 60px">Postline</p>
{% endblock %}

{% block content %}
    <div>

        {% for posts in object_list %}
                <div class="col d-flex justify-content-center">

            <div class="card" style="width: 30rem; margin-top: 20px; border: 1px solid darkgray; horiz-align: center">
                <img src="{{ posts.post_image.url }}" class="card-img-top" alt="..."
                     style="border-bottom: 1px solid darkgray">
                <div class="card-body">
                    <h5 class="card-title">{{ posts.author }}</h5>
                    <p class="card-text">{{ posts.content }}</p>

                    {% if request.user.is_authenticated %}
                        <div class="col d-flex justify-content-center">
                        <a href="{{ posts.get_absolute_url }}">
                            <button type="button" class="btn btn-outline-primary">See post</button>
                        </a>
                        </div>

                    {% else %}
                        <a class="card-text" aria-current="page" href="{% url 'login' %}">Please, Log In to see the Post</a>
{#                        <p class="card-text"> <u>Please, Log In to see the Post</u></p>#}
                    {% endif %}
                </div>
            </div>
                </div>
        {% endfor %}
    </div>


    <div style=" text-align: center">
        <div class="btn-group" role="group" aria-label="Item pagination"
             style="margin-top: 15px; margin-bottom: 15px;">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1"
               class="btn btn-outline-primary">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"
               class="btn btn-outline-primary">{{ page_obj.previous_page_number }}</a>

        {% endif %}

        <span class="current">
            <a href="#" class="btn btn-outline-success">{{ page_obj.number }}</a>
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"
               class="btn btn-outline-primary">{{ page_obj.next_page_number }}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Last</a>

        {% endif %}
    </span>
        </div>
    </div>

{% endblock %}
