{% extends 'base.html' %}
{% block title %}
    Post
{% endblock %}
{% block content %}
    <div class="col d-flex justify-content-center">
        <div class="card"
             style="background-color: #CBDCDF; width: 18rem; margin-top: 20px;
             border: 5px solid black; horiz-align: center">
            <img src="..." class="card-img-top" alt="..."
                 style="background-color: #CBDCDF; border-bottom: 3px solid black">
            <p class="card-body">
            <h5 class="card-title">{{ posts.author }}</h5>
            <p class="card-text">{{ posts.content }}</p>
            <p class="card-date"> {{ posts.published|date:"d.m.Y H:i:s" }}  </p>
            <div class="dropdown">

                <div class="m-4">
                    <div class="accordion" id="myAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        style="border: 2px solid black; background-color: wheat">
                                    See all comments. ({{ post_comments_count }})
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
                                <div class="card-body">
                                    {% for comments in posts.comment.all %}
                                        <p class="card-text">{{ comments.author }}: {{ comments.content }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        {% if request.user.is_authenticated %}
            </div> <br>
            <form method="post" action="{% url 'post_detail' slug=posts.slug %}">
                {% csrf_token %}
                <div align="center" style="border: 2px solid black; background-color: white">
                    {{ form.content }}
                </div>
                <div align="center">
                    <button style="margin-top: 15px; margin-bottom: 15px" class="btn btn-success">Comment</button>
                </div>
            </form>
        {% endif %}
{% endblock %}
