{% extends "base.html" %}
{% block title %}
    Registration
{% endblock %}
{% block content %}

    <div class="post__main">
        <form method="post">
            {% csrf_token %}
            <div class="row g-3">
                <div class="form-error">
                    {{ form.non_field_errors }}
                </div>
                {% for form_field in registration_form %}
                    <div class="col" style="border: 2px solid black; background-color: #ffffff">
                        <label for="{{ form_field.id_for_label }}" class="form-label"></label>
                        {{ form_field }}
                        <div class="form-error">
                            {{ form_field.errors }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr class="my-4">
            <button class="w-100 btn btn-success btn-lg" type="submit"
            style="width: 100px; height: 55px; background-color: #7bc033;
                            border: 2px solid black; margin: auto">Register</button>
        </form>
    </div>

{% endblock %}